$border-color: rgba(#ccc, 0.8);
$week-header-height: 60px;
$hour-segments-width: 60px;
$cell-height: 60px;

:host {
    display: block;
    padding: 25px;
}

.calendar {
    display: flex;
    width: 100%;
    border: 1px solid $border-color;

    .hour-segments {
        flex-basis: $hour-segments-width;
        margin-top: $week-header-height;
    }

    .body {
        display: flex;
        flex: 1;

        > .column {
            flex: 1;
            border-left: 1px solid $border-color;

            &:not(:last-child) {
                border-right: 1px solid $border-color;
            }

            & > *:not(:last-child) {
                border-bottom: 1px solid $border-color;
            }
        }

        .weekday {
            height: $week-header-height;
        }
    }

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        height: $cell-height;
    }

    .hour-segments {
        transform: translateY(-$cell-height/2);
    }
}