<nav>
  <button (click)="prevWeek()"><<<</button>
  <button (click)="nextWeek()">>>></button>
</nav>

<div class="calendar">
  <aside class="hour-segments">
    <div *ngFor="let segment of hourSegments"
      class="hour cell">
      {{ segment }}:00
    </div>
  </aside>
  <div class="body">
    <div *ngFor="let day of weekDays"
      class="column">
      <div class="weekday cell">
        {{ day | date: 'EEE d' }}
      </div>
      <div *ngFor="let hour of hourSegments"
        (click)="handleSegmentClick(day, hour)"
        class="weekday-hour cell"
        [class.disabled]="isSegmentDisabled(day, hour)">
        
        <mat-chip-list>
          <mat-chip *ngFor="let rec of getShipRecsForSegment(day, hour)" 
            color="primary" selected="true">
            {{ rec.truckNumber }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>