@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    font-size: 14px;

    * {
        font-size: inherit;
    }
}

body {
    box-sizing: border-box;

    * {
        box-sizing: inherit;
    }
}

app-week-schedule .calendar .mat-chip {
    padding: 3px 9px;
}